@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.nav {
    background-color: #333;
    display: flex;
    justify-content: flex-end;
}

.nav a{
    color: white;
    text-decoration: none;
    padding: 1%;
}

.nav a:hover {
    background-color: #ddd;
    color: black;
}

#body-home {
    background: url(img/grid.jpg);
    background-blend-mode:hard-light;
    background-size:cover;
    background-repeat:repeat-y;
    background-color:rgba(0, 0, 0,0.65);
    margin: auto;
    font-family: 'press start 2p';
    min-height: 1000px;
    background-attachment: fixed;
}

#header {
    color: rgb(255, 238, 0);
    min-height: 180px;
    padding: 50px;
    background: linear-gradient(90deg, rgba(9,13,117,1) 0%, rgba(47,8,189,1) 25%, rgba(47,8,189,1) 50%, rgba(47,8,189,1) 75%, rgba(9,13,117,1) 100%);
    border: 4px solid rgb(255, 238, 0);
    text-align: center;
}

#header h1 {
    font-size: 35px;
}

#header p {
    font-size: 15px;
    margin-top: 30px;
}

#header span {
    background-color:rgb(255, 238, 0) ;
    color: #000000;
    padding: 5px;
}

.link a{
    background-color: rgb(255, 255, 255);
    color: rgba(79, 39, 223, 0.918);
    text-decoration: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    position: relative;
    text-transform: uppercase;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    transition: transform 750ms;
}

.link-zoo:hover {
    background-image: url(img/bunny.gif);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: 95%;
}

.link-form a{
    margin-top: 30px;
}

.link a:hover,
.link a:focus-visible {
    color: red;
    transform: translateY(-0.5rem);
    transition: transform 250ms;
}

.link a:active {
    color:red;
    transform: translateY(4px)
}

/* Start of xyz-zoo */

#zoo {
    background-color: rgb(255, 240, 216);
}

.header-zoo{
    background: url(../xyz-zoo/image/zoo.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    height: 350px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.header-zoo::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(248, 245, 243, 0.425);
    background-size: cover;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-zoo h1{
    font-family: 'Oleo Script';
    color:rgba(255, 102, 0, 0.7);
    z-index: 10;
    font-size: 500%;
    -webkit-text-stroke: 2px rgb(253, 245, 226, 0.9);
    max-width: 800px;
    width: 100%;
}

.header-zoo span {
    background-color: rgba(255, 102, 0, 0.7);
    padding-left: 0.5%;
    padding-right: 0.5%;
    color: rgba(255, 255, 255);
    -webkit-text-stroke:0px;
    border: 2px solid rgba(253, 245, 226, 0.9);
    text-transform: uppercase;
}

.list {
    min-width: 100%;
    max-width: 2000px;
}

.list ol{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:2%;  
    background-color:rgba(243, 222, 177, 0.349);
    padding-top: 0.1%;
    padding-bottom: 0.1%;
    border-radius: 30px;
    list-style-type: none;
}

.box{
    background: rgba(255, 255, 254, 0.74);
    padding: 15px;
    margin: 5%;
    height: 100%;
    max-width: 100%;
    display: block;
    margin-inline: 30px;
    border-radius: 20px;
    padding-inline-start: 30px;
}

.container {
    overflow: hidden;
    max-width: 500px;
    height: 370px;
    width: 100%;
}

.container img {
    object-fit: cover;
    max-width: 100%;
    min-height: 100%;
    border-radius: 15px;
}

.source {
    background-color: rgb(250, 155, 92);
    color: white;
    display: block;
    text-align: center;
}

.source a{
    text-decoration: none;
    color: #000000;
}

.source a:hover {
    color: rgb(255, 255, 255);
}

/* Start of table form */
#table-form {
    background-color:#c0f0f4;
    color: #64b9f5;
}

.contain-table-form {
    background-color: rgb(255, 232, 240);
    margin: 5% auto;
    padding: 2%;
    border-radius: 50px;
    border: 15px double white;
    box-shadow: 10px 10px 50px 0 rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 100%;
}

.title {
    color:#4cb2fa ;
    text-align: center;
    margin-bottom: 1%;
}

.tableonly {
    background-color: rgba(255, 255, 255, 0.582);
    border-radius: 30px;
    padding: 3%;
}

table{
    border: solid 1.5px #000000;
    border-collapse: collapse;
    max-width: 90%;
    margin: auto;
    width: 100%;
}

table th {
    border: solid 1px #000000;
    background-color: rgb(220, 251, 255);
}

table td{
    border: solid 1px #000000;
    background-color: white;
    color: rgb(36, 16, 54);
    text-align: center;
}

.form {
    border-top: 7px solid #ffffff;
    padding: 5% 10%;
}

.form h2 {
    text-align: center;
}

.form label {
    font-weight: bold;
}

.form input, .form select, .form textarea{
    width: 100%;
    display: block;
    background-color: rgb(220, 251, 255);
    border: none;
    padding: 10px;
}

.button {
        display: flex;
        justify-content: flex-end;
}

.form button {
    width: 30%;
    background-color: white;
    color: #4cb2fa;
    border: none;
    padding: 1%;
    font-weight: bold;
    font-size: 17px;
}

.form button:hover{
    background-color: #4cb2fa;
    color: white;
}

.form button:active {
    transform:translateY(5px);
}
/* Start of whatever this is */
@media screen and (max-width:1000px) {

.header-zoo h1 {
    font-size: 400%;
}

.container {
    overflow: hidden;
    max-width: 500px;
    max-height: 370px;
    height: 100%;
    width: 100%;
}


.list ol {
    display: block;
    align-items: center;
    margin: 2%;
}

.list ul {
    display: flex;
    justify-content: center;
    align-items: center;
}

.list li {
    margin: 2%;
}

.nav a {
    padding: 2%;
}

}
