@import url('https://fonts.googleapis.com/css2?family=Oleo+Script:wght@700&family=Press+Start+2P&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#body-home {
    background: url(img/grid.jpg);
    background-blend-mode:hard-light;
    background-size: cover;
    background-repeat:repeat-y;
    background-color:rgba(0, 0, 0,0.65);
    margin: auto;
    font-family: 'press start 2p';
    min-height: 900px;
    background-attachment: fixed;
}

#header {
    color: rgb(255, 238, 0);
    min-height: 180px;
    padding: 50px;
    background: linear-gradient(90deg, rgba(9,13,117,1) 0%, rgba(47,8,189,1) 25%, rgba(47,8,189,1) 50%, rgba(47,8,189,1) 75%, rgba(9,13,117,1) 100%);
    border: 4px solid rgb(255, 238, 0);
    text-align: center;
}

#header h1 {
    font-size: 35px;
}

#header p {
    font-size: 15px;
    margin-top: 30px;
}

#header span {
    background-color:rgb(255, 238, 0) ;
    color: #000000;
    padding: 5px;
}

.link a{
    background-color: rgb(255, 255, 255);
    color: rgba(79, 39, 223, 0.918);
    text-decoration: none;
    font-size: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100px;
    border: 2px solid rgb(0, 0, 0);
    border-radius: 8px;
    position: relative;
    text-transform: uppercase;
    max-width: 900px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 70px;
    transition: transform 750ms;
}

.link-zoo{
    background-image: url(img/bunnystatic.png);
    background-repeat: no-repeat;
    background-size:contain;
    background-position-x: 95%;
}

.link-zoo:hover {
    background-image: url(img/bunny.gif);
}
.link-form a{
    margin-top: 30px;
}

.link a:hover,
.link a:focus-visible {
    color: red;
    transform: translateY(-0.5rem);
    transition: transform 250ms;
}

.link a:active {
    color:red;
    transform: translateY(4px)
}

#zoo {
    background-color: rgb(255, 240, 216);
}

.header-zoo{
    background: url(../xyz-zoo/image/zoo.jpg) center no-repeat;
    background-size: cover;
    display: flex;
    height: 350px;
    width: 100%;
    position: relative;
    justify-content: center;
    align-items: center;

}

.header-zoo::after {
    content: '';
    display: block;
    position: absolute;
    background: rgba(248, 245, 243, 0.425);
    background-size: cover;
    top: 0;
    width: 100%;
    height: 100%;
}

.header-zoo h1{
    font-family: 'Oleo Script';
    color: black;
    z-index: 10;
    font-size: 100px;
}

.list ol{
    display: flex;
    justify-content:space-between;
    align-items: center;
    margin:2%;  
    background-color:rgba(255, 255, 255, 0.384);
    border-radius: 30px;
}

.list ul {

}

.box{
    background: rgb(243, 222, 177);
    padding: 10px;
    min-height: 800px;
    margin: 60px;
    height: 100%;
    max-width: 100%;
    display: block;
    margin-inline: 30px;
    border-radius: 20px;
    padding-inline-start: 30px;
}